body {
  margin: 0;
  font-family: 'Exo 2', Arial, sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #CACACA;
}

h2 {
  color: #113F41;
  padding-left: 20px;
  font-size: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #6b6973;
  text-decoration: none;
  font-size: 20px;
}

/* Header style */

header {
  border-bottom: solid 1px #DDDDE6;
}

header > div:last-child {
  margin-left: 225px;
}

header h3 {
  font-size: 34px;
  font-weight: 100;
  margin: 0px 25px;
  color: rgb(199, 99, 99);
  font-family: 'Waiting for the Sunrise', cursive;
}

header nav {
  text-align: center;
}

header ul > li , header div{
  display: inline-block;
}

header nav a {
  font-size: 18px;
  padding: 0px 15px;
  transition: all .3s;
  position: relative;
}

.selected {
  font-weight: 500;
  color: rgb(199, 99, 99);
}

.selected:hover {
  color: rgb(199, 99, 99);
  top: initial;
}

header nav a:hover {
  top: -3px;
  color: #c45860;
}

/*Footer style*/

footer {
  border-top: solid 1px #DDDDE6;
}

footer ul > li {
  display: inline-block;
  margin: 7px 7px;
}

footer > div > ul {
  text-align: center;
}

/*Content style*/

.content {
  position: relative;
  text-align: justify;
  font-size: 16px;
  height: 300px;
  background-color: #6D6D6D;
}

.index {
  background-image: url("../public/images/anaclara.png");
  background-repeat:no-repeat;
  background-size: 100%;
}

.index h3 {
  font-family: 'Waiting for the Sunrise', cursive;
  color: #fff;
  font-size: 30px;
}

.index .name {
  color: rgb(199, 99, 99);
  font-size: 45px;
}

.content div:first_child {
  float: right;
}

.content a {
  color: #E0B0C0;
  font-size: 16px;
}
.content a:hover {
  color: #FF969E;
}

.content img {
  height: 145px;
  width: 230px;
  float: left;
  padding: 35px;
}

.center {
  padding: 105px 150px;
}

.resume {
  padding: 30px 45px;
  height: 670px;
}

.resume h5 {
  margin: 5px 0px;
  font-size: medium;
  display: inline-block;
  font-weight: 400;
}

.resume h6 {
  display: inline-block;
  font-weight: normal;
  color: #BD9595;
  padding: 0px 10px;
}

.tech {
  font-weight: normal;
  font-size: 12px;
  color: #B38989;
  padding-top: 5px;
  display: block;
}

/* Utilities */

.clear {
  content: "";
  clear: both;
  display: table;
}

.github-icon-svg {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
}